@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap;
    font-family: "Ginger";
    font-weight: 400;
    src: url(/fonts/cms/f37_ginger_regular-webfont.woff);
  }
  @font-face {
    font-display: swap;
    font-family: "Ginger";
    font-weight: 700;
    src: url(/fonts/cms/f37_ginger_bold-webfont.woff);
  }
  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-weight: 400;
    src: url(/fonts/OpenSans-Regular.ttf);
  }
  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-weight: 700;
    src: url(/fonts/OpenSans-Bold.ttf);
  }
  @font-face {
    font-display: swap;
    font-family: "Open Sans";
    font-weight: 600;
    src: url(/fonts/OpenSans-SemiBold.ttf);
  }

  @font-face {
    font-display: swap;
    font-family: "Merriweather";
    font-weight: 400;
    src: url(/fonts/Merriweather-Regular.ttf);
  }
  @font-face {
    font-display: swap;
    font-family: "Merriweather";
    font-weight: 700;
    src: url(/fonts/Merriweather-Bold.ttf);
  }
}

:root {
  /* --lightBlue: #7176d1; */
  /* --darkBlue: #252748; */
  /* --lightGray: #e0e0e0; */
  --lightBlueOp: #7176d181;
  --midGray: #999999;
  --cookieTool: #252748;

  /* MERTEN COLORS */
  --white: #ffffff;
  --black: #333333;
  --lightBlue: #95ceea;
  --darkBlue: #002851;
  --green: #8cc919;
  --orange: #fcac2f;
  --gray: #d4dbe1;
  --darkGray: #d5dbe0;
  --lightGray: #eceff2;
}

button {
  cursor: pointer;
}

a:hover {
  color: var(--lightBlue);
  transition: 0.3s;
  text-decoration: underline;
}
a:active {
  color: var(--lightBlue);
}

/* Smooth scroll */
html,
.scroll-view {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
#SubPage body,
#MainPage body {
  background-color: var(--darkBlue);
  max-width: 100vw;
}

a:active,
a:hover {
  color: var(--green);
  text-decoration: underline;
}

.offer-detail a:active,
.offer-detail a:hover {
  color: var(--green);
  text-decoration: none;
}

.offer-detail {
  cursor: pointer;
}

a {
  color: var(--darkBlue);
  font-weight: bold;
}

p:empty {
  height: 1rem;
}

ol,
ul {
  list-style: disc;
  margin: 0;
  padding: 20px;
}

.main-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.vertical-padding {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.flow-text {
  font-size: 0.9375rem;
  line-height: 1.7rem;
}

.subline-text {
  font-size: 1.2rem;
}

.head-text {
  font-size: 1.6rem;
}

.nav-text {
  font-size: 0.75rem;
}

.ell-text-1,
.ell-text-2,
.ell-text-3,
.ell-text-4,
.ell-text-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.ell-text-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}
.ell-text-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
.ell-text-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}
.ell-text-4 {
  -webkit-line-clamp: 4;
  line-clamp: 4;
}
.ell-text-7 {
  -webkit-line-clamp: 7;
  line-clamp: 7;
}

.service-page .imageContainer span img {
  display: block !important;
}
.service-page span img {
  display: none !important;
}

.energy-scale {
  background: rgb(164, 214, 181);
  background: linear-gradient(
    90deg,
    rgba(164, 214, 181, 1) 0%,
    rgb(241, 239, 161) 50%,
    rgba(250, 161, 0, 1) 75%,
    rgba(255, 0, 0, 1) 100%
  );
}

textarea::placeholder,
input::placeholder {
  color: var(--darkBlue);
}

textarea::placeholder,
input::placeholder {
  font-weight: 300;
  font-size: 0.9rem;
  opacity: 0.7;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.content-holder :not(.displayed ~ .displayed).displayed .custom-divider {
  display: none;
}

.link-drop:hover svg {
  fill: var(--green);
}

.dropdown-nav {
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}
.dropdown-nav:hover,
.parent-item-nav:hover .dropdown-nav {
  opacity: 1;
  pointer-events: all;
}

.imprint-links a {
  color: white;
}

.imprint-links a:hover {
  color: var(--green);
}

@layer utilities {
  @media only screen and (max-width: 768px) and (min-height: 690px) {
  }

  @media only screen and (max-width: 768px) and (min-height: 800px) {
  }

  @media only screen and (min-width: 768px) {
    .main-padding {
      padding-left: 2.5rem !important;
      padding-right: 2.5rem !important;
    }

    .vertical-padding {
      padding-top: 4rem !important;
      padding-bottom: 4rem !important;
    }

    .head-text {
      font-size: 1.875rem !important;
    }
    .subline-text {
      font-size: 1.4rem;
    }
  }

  @media only screen and (min-width: 1024px) {
    .main-padding {
      padding-left: 80px !important;
      padding-right: 80px !important;
    }
    .nav-text {
      font-size: 0.8rem !important;
    }
  }

  @media only screen and (min-width: 1280px) {
    .main-padding {
      padding-left: 134px !important;
      padding-right: 134px !important;
    }
  }

  @media only screen and (min-width: 1366px) {
    .nav-text {
      font-size: 0.9rem !important;
    }
  }

  @media only screen and (min-width: 1440px) {
  }

  @media only screen and (min-width: 1536px) {
  }

  @media only screen and (min-width: 1600px) {
    .main-padding {
      padding-left: 15rem !important;
      padding-right: 15rem !important;
    }

    .vertical-padding {
      padding-top: 6rem !important;
      padding-bottom: 6rem !important;
    }
  }

  @media only screen and (min-width: 1920px) {
    .head-text {
      font-size: 1.9rem !important;
    }
    .subline-text {
      font-size: 1.5rem !important;
    }

    .main-padding {
      padding-left: 22.75rem !important;
      padding-right: 22.75rem !important;
    }
  }

  @media only screen and (min-width: 2560px) {
    .main-padding {
      padding-left: 30rem !important;
      padding-right: 30rem !important;
    }
    .nav-text {
      font-size: 1.2rem !important;
    }

    .head-text {
      font-size: 2.3rem !important;
    }

    .flow-text {
      font-size: 1.1rem !important;
    }
  }

  @media only screen and (min-width: 3440px) {
    .main-padding {
      padding-left: 900px !important;
      padding-right: 900px !important;
    }
  }

  a {
    cursor: pointer;
    transition: 0.3s;
  }

  a:hover {
    color: var(--secondary);
  }

  .imprint h3 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 20px 0;
  }

  .imprint h2 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px 0;
  }
  .imprint h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 30px 0;
  }
}

.imageContainer > span {
  position: unset !important;
}

.image_ {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* CMS CLASSES */

.Toastify__toast-container {
  width: 400px !important;
}

.Toastify__toast-body {
  font-family: "Ginger";
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #8f95fc inset;
}

#LoginPage ::placeholder {
  color: var(--lightBlue);
}

.quill {
  height: 100% !important;
  min-height: 400px;
}
.ql-editor {
  padding: 30px 30px 0px 30px !important;
}

.blue-gradient-transparent {
  background: rgba(163, 130, 255, 0.566);
  background: linear-gradient(90deg, #a382ff6a 0%, #6a88ff8c 100%);
}

.blue-gradient-transparent-vert {
  background: rgba(163, 130, 255, 1);
  background: linear-gradient(0deg, #a382ff6a 0%, #6a88ff8c 100%);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(163, 130, 255, 1);
  background: linear-gradient(0deg, #a382ff6a 0%, #6a88ff8c 100%);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

base {
  padding: 0.5rem 1rem;
  background-color: white;
  cursor: move;
}

.ProseMirror {
  height: 100%;
}

.ProseMirror-focused {
  border: none !important;
  outline: none !important;
}

.rich-text-code {
  font-family: monospace;
  line-height: 20pt;
  padding: 10px;
}

.rich-text ol {
  list-style-type: decimal !important;
  padding-left: 20px;
}

.rich-text ul {
  list-style-type: disc !important;
  padding-left: 20px;
}

.rich-text a {
  color: rgb(0, 102, 235);
}

.rich-text h1 {
  font-size: 30px;
}
.rich-text h2 {
  font-size: 26px;
}
.rich-text h3 {
  font-size: 22px;
}
.rich-text h4 {
  font-size: 18px;
}
.rich-text h5 {
  font-size: 16px;
}
.rich-text h6 {
  font-size: 16px;
}

.album-cms img {
  aspect-ratio: 1;
}

.fadeIn {
  animation: fadeIn 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
  transform: translateX(10px);
}

.fadeInPos {
  animation: fadeInPos 0.3s;
  opacity: 0;
  animation-fill-mode: forwards;
  left: 340px;
}

@keyframes fadeIn {
  50% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(-0px);
  }
}

@keyframes fadeInPos {
  50% {
    opacity: 0;
    left: 340px;
  }
  100% {
    opacity: 1;
    left: 320px;
  }
}
